<h3 id="tell-us-who-you-are">Tell us who you are</h3>

<p>If you feel like you’re the perfect fit for the role, please apply even if you
don’t match all the requirements.</p>

<h3 id="why-join-chainsafe-systems-protocol-engineering">Why Join ChainSafe Systems Protocol Engineering</h3>

<p>Founded by developers for developers, ChainSafe is a company with an
international team. We continue to provide opportunities for personal and
professional growth, value autonomy and responsibility, have a results-driven
environment, and offer flexible work hours.</p>

<p>We care deeply about our values and look for these attributes in every new team
member. In addition, we recognize the benefits of cultivating a diverse team and
aspire to embed respect for all people into our culture. We encourage women, the
LGBTQIA+ community, people of colour, and members of any other group
underrepresented in the blockchain space - or tech in general - to apply.</p>

<h3 id="how-to-apply">How to Apply</h3>

<p>To apply:</p>

<ol>
  <li>send an email to {{ include.email }} containing the following:
    <ul>
      <li>an indicator what role you apply for</li>
      <li>a motivational letter</li>
      <li>an up-to-date résumé (CV)</li>
    </ul>
  </li>
  <li>wait two weeks before you follow up</li>
</ol>

<p>Note:</p>

<ul>
  <li>If you do not complete the steps above, we will disregard your application.</li>
  <li>We do not work with recruiters or talent agencies.</li>
</ul>

